@using BattleshipGame.Enums
@using BattleshipGame.Models

<div class=@($"grid-rectangle {_cssClass}") @onclick="@HandleCellClick">
    @if (ShipStatus is ShipStatus.Miss)
    {
        <img src="Miss small.png" style="width: 48px; height: 48px" alt="miss-small"/>
    }
    else if (ShipStatus is ShipStatus.Hit)
    {
        <img src="Hit small.png" style="width:48px; height: 48px" alt="hit-small"/>
    }
</div>

@code {
    
    [Parameter, EditorRequired]
    public int Row { get; set; }
    
    [Parameter, EditorRequired]
    public int Column { get; set; }
    
    [Parameter, EditorRequired]
    public EventCallback<(Coordinate, ShipStatus)> OnCellShoot { get; set; }

    [Parameter, EditorRequired]
    public ShipStatus ShipStatus { get; set; } = ShipStatus.None;

    private string _cssClass = string.Empty;

    private async Task HandleCellClick()
    {
        if (ShipStatus == ShipStatus.Ship)
        {
            ShipStatus = ShipStatus.Hit;
        }
        else if (ShipStatus == ShipStatus.None)
        {
            ShipStatus = ShipStatus.Miss;
        }
        
        _cssClass = "disable-events";
        await OnCellShoot.InvokeAsync((new(Row,Column), ShipStatus));
    }

}