@using BattleshipGame.Enums
@using BattleshipGame.Models

<div class=@($"grid-rectangle {_cssClass}") @onclick="@HandleClick">
    @if (ShipStatus is ShipStatus.Miss)
    {
        <img src="Miss small.png" style="width: 48px; height: 48px" alt="miss-small"/>
    }
    else if (ShipStatus is ShipStatus.Hit)
    {
        <img src="Hit small.png" style="width:48px; height: 48px" alt="hit-small"/>
    }
</div>

@code
{
    [CascadingParameter]
    public ShipStatus[,] Ships { get; set; } = default!;
    
    [CascadingParameter]
    public bool AreShipsDefeated { get; set; }

    [Parameter]
    public Coordinate Coordinate { get; set; } = default!;
    
    [Parameter]
    public EventCallback<ShipStatus[,]> OnShipsChanged { get; set; }

    [Parameter]
    public ShipStatus ShipStatus { get; set; } = ShipStatus.None;

    private string _cssClass = string.Empty;

    private async Task HandleClick()
    {
        if (ShipStatus == ShipStatus.Ship)
        {
            Ships[Coordinate.Row, Coordinate.Column] = ShipStatus.Hit;
            ShipStatus = ShipStatus.Hit;
        }
        else if (ShipStatus == ShipStatus.None)
        {
            Ships[Coordinate.Row, Coordinate.Column] = ShipStatus.Miss;
            ShipStatus = ShipStatus.Miss;
        }
        _cssClass = "disable-events";
        await OnShipsChanged.InvokeAsync(Ships);
        
    }

}