@using BattleshipGame.Enums
@using BattleshipGame.Models

<div class=@($"grid-rectangle {_cssClass}") @onclick="@HandleClick">
    @if (CellStatus is CellStatus.Miss)
    {
        <img src="Miss small.png" style="width: 48px; height: 48px" alt="miss-small"/>
    }
    else if (CellStatus is CellStatus.Hit)
    {
        <img src="Hit small.png" style="width:48px; height: 48px" alt="hit-small"/>
    }
</div>

@code
{
    [CascadingParameter]
    public CellStatus[,] Ships { get; set; } = default!;
    
    [CascadingParameter]
    public bool AreShipsDefeated { get; set; }

    [Parameter]
    public Coordinate Coordinate { get; set; } = default!;
    
    [Parameter]
    public EventCallback<CellStatus[,]> OnShipsChanged { get; set; }

    [Parameter]
    public CellStatus CellStatus { get; set; } = CellStatus.None;

    private string _cssClass = string.Empty;

    private async Task HandleClick()
    {
        if (CellStatus == CellStatus.Ship)
        {
            Ships[Coordinate.Row, Coordinate.Column] = CellStatus.Hit;
            CellStatus = CellStatus.Hit;
        }
        else if (CellStatus == CellStatus.None)
        {
            Ships[Coordinate.Row, Coordinate.Column] = CellStatus.Miss;
            CellStatus = CellStatus.Miss;
        }
        _cssClass = "disable-events";
        await OnShipsChanged.InvokeAsync(Ships);
        
    }

}